{% extends "base.html" %} 
{% load crispy_forms_tags %}
{% load markdown_deux_tags %} {% block content %}
<div class="col-sm-6  card  mt-5 mb-5 pt-2 pb-2 pr-2 pl-2col-sm-offset-3">
        {{comment.comentText }}
    <footer class="blockquote-footer">via {{ comment.user }}| {{comment.timestamp|timesince }} ago 
      {% if comment.childrens.count > 0 %} {{ comment.childrens.count }} Comments | {% endif %}</footer>
      <hr/>
    <div class="comment-reply">
      {% for child_comment in comment.childrens %}
      <blockquote class="blockquote">
        <p class="blockquote">{{child_comment.comentText }}</p>
     <footer class="blockquote-footer">via {{ child_comment.user }}| {{child_comment.timestamp|timesince }} ago</footer>
    </blockquote>
    {% endfor %}
  <form action="." method="POST">
      {% csrf_token %}
      {{ comment_form|crispy }}
      <input type="hidden"  name="parent_id" value="{{ comment.id }}">
      <input type="submit" value="Reply ">
    </form>
    <hr/>
</div>
</div>
{% endblock content %}
