.faded{
  color: #777777;
  font-size: 30px;
}
.wmd-panel{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.success{
  color: #777777;
  border: 1px solid green ;
  padding: 5px 5px 5px 5px;
}